
.navbar-brand{
   color: brown;
   text-decoration: none;
  
}
.navDesign{
 display:grid;
 justify-content: center;
 margin-left: 20px;
 margin-left: 20px;
}
.navStyle{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}